<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee !</title>
</head>
<body style="background-color: lavender; margin: 2%;">
    <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif;"> Faculty Page</h1>
    <img src="D:\CS301 project\LeaveApplicationDBMS\facultyImage.jpg" alt="Profile Image Here" style ="border: 3px solid black" width="200" height="200">
    <h2> Employee Name </h2>
    <div> <u><b>Date Of Birth:</b></u> 01 January 2000</div><br>
    <div> <u><b>Address:</b></u> IIT Ropar</div><br>
    <div> <u><b>Department:</b></u> CSE</div><br>
    <div> <u><b>Leaves remaining this year:</b></u> 5/20</div>

    <br><br>
    
    <button style="background-color: chartreuse; width: 150px; height: 30px;"> 
        <a href="MyLeaves.html" style="text-decoration: none;"><b>My Leaves -></b> </a>
    </button>

</body>
</html>