<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        div.center{
            margin: auto;
            width: 50%;
        }
        div.textoverflow{
            overflow: hidden;
            text-overflow: ellipsis;
            color: white;
        }
        div.texthover:hover{
            overflow:visible;
            color:black;
        }
    </style>

</head>
<body style="text-align: center; background-color: lavender;">
    <br>
    <div style="background-color:black;">
        <div class="container center">
            <div class="row"> 
                <div class="col-lg-4" style="font-size: 120%; color: white; background-color:green; text-align: center; vertical-align: middle;border: solid blue; margin: 1em; margin-left: 5em; max-width: 180px; min-height: 50px; overflow:hidden; text-overflow: ellipsis;">
                    Is applied
                </div>
                <div class="col-lg-4" style="font-size: 120%; background-color:yellow; border: solid blue; margin: 1em; max-width: 180px; min-height: 50px; overflow:hidden; text-overflow: ellipsis;">
                    HOD pending
                </div>
                <div class="col-lg-4" style="font-size: 120%; color: white; background-color:blue; border: solid blue; margin: 1em; max-width: 180px; min-height: 50px; overflow:hidden; text-overflow: ellipsis;">
                    Dean (not sent)
                </div>
            </div>

            <br>
            <div class="center textoverflow texthover" style="background-color:purple; min-height: 100px; vertical-align: middle; padding: 1em;">
                <b>Application Content</b>
            </div>
        </div>

        <br><br>
        <div class="center container">
            <div class="row">
                <div class="col-lg-12" style="background-color: coral; color: cornsilk; padding: 2px;">
                    <b>Comments by *name* </b>
                    <div> <b>"Designation" </b></div>

                    <div style="background-color: white; color: black; padding: 10px;">Some Comments</div>
                </div>
            </div>

            <div class="row" style="margin-top: 4%;">
                <div class="col-lg-12" style="background-color: coral; color: cornsilk; padding: 2px;">
                    <b>Comments by *name* </b>
                    <div> <b>"Designation" </b></div>

                    <div style="background-color: white; color: black; padding: 10px;">Some Comments</div>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>