<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Leave Application</title>
<style>
    .center{
        margin: auto;
        width: 50%;
    }
    div {
        width: 50%;
        align-self: center;
        background-color: lightgrey;
    }
</style>
</head>

<body style="text-align: center; background-color: lavender;">
    <h1> Employee Name</h1>
    <br>

    <h2 style="text-align: center;"> New Leave Application</h2>
    <br>

    <div class="center">
        <br>
        <form>
            <label for="fromDate"><b>From:</b>  </label>
            <input type="date" name="fromDate">
            <br><br>
            
            <label for="tillDate"><b>Till:</b>  </label>
            <input type="date" name="tillDate">
            <br>

            <p><b>Number of Days :</b> *auto calculate*</p>
            <br>

            <label for="context"></label>
            <input style="width: 30%; height:100px; text-align: center;" type="text" placeholder="Reason for leave">

            <br><br><br>
            <button style="margin-right:4%; width:100px; ;">
                <a href="MyLeaves.html" style="text-decoration: none;"> Cancel</a>
            </button>
        
            <button style="background: chartreuse; border-radius: 5px; width: 100px;"> Apply</button>
        </form>

        <br>
    </div>
</body>
</html>