:root{
    --primaryColor: #007bff;
    --secondaryColor: white;
}


.MyLeftNavBar{
    position: fixed!important;
    left: 0px;
    bottom: 0px;
    top: 155px;
    width: 25%;
    height: 74%!important;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}


.MyTopNavBar{
    position: fixed!important;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.MyContent{
    margin-top: 160px;
    margin-left: 9px;
    height: 75%;
    position: fixed;
    left: 25%;
    padding: 15px;
    width: 75%;
    overflow: auto;
    padding-bottom: 55px;
}