<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/header.css">

    <!-- importing bootstrap and other things which are used everywhere: -->
    <%- include('../partials/head'); %>

    <script src="js/designationChange.js"></script>

    <title>Employee</title>
</head>

<header>
    <%- include('../partials/header'); %>
</header>

<body>

    <div class="MyContent">
        <div class="container-fluid">

            <div class="row mx-2 my-4">
                <div class="col card shadow">
                    
                    <table class="roundedCorners table table-hover table-striped"
                        style="max-width: 600px; margin-left: 5px;">
                        <thead>
                            <tr>
                                <th scope="col">Designation</th>
                                <th scope="col">Type / Department</th>
                                <th scope="col">EID</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>HOD</td>
                                <td>CSE</td>
                                <td>a</td>
                                <td>01/01/2000</td>
                                <td>01/12/2010</td>
                            </tr>
                            <tr>
                                <td>HOD</td>
                                <td>ME</td>
                                <td>a</td>
                                <td>01/01/2000</td>
                                <td>01/12/2010</td>
                            </tr>
                            <tr>
                                <td>Dean</td>
                                <td>Faculty Affairs</td>
                                <td>a</td>
                                <td>01/01/2000</td>
                                <td>01/12/2010</td>
                            </tr>
                            <tr>
                                <td>HOD</td>
                                <td>MMB</td>
                                <td>a</td>
                                <td>01/01/2000</td>
                                <td>01/12/2010</td>
                            </tr>
                            <tr>
                                <td>Dean</td>
                                <td>Research</td>
                                <td>a</td>
                                <td>01/01/2000</td>
                                <td>01/12/2010</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="row mx-2 my-4">
                <div class="col card shadow">
                    <div class="row">
                        <h5 class="card-header w-100">Assign New Employee to Selected Designation
                        </h5>      
                        
                        <div class="card-body">
                            <form method="POST" action="/director/DesignationChange">
                            

                                <div class="form-group">
                                    <label for="designation_Dropdown">Select Designation :</label>
                                    <select
                                        name="designation"
                                        id="designation_Dropdown"
                                        required
                                        style="min-height: 50px; background-color: #1a75ff; color: white; border-radius: 5px;"
                                        class="form-select form-select-lg mb-3 ml-3 p-2">
                                        <!-- <option selected style="padding: 5px;">Select Designation</option> -->
                                        <option value="HOD" style="background-color: white; color: #1a75ff;">Head Of Department (HOD)</option>
                                        <option value="Dean" style="background-color: white; color: #1a75ff;">Dean</option>
                                    </select>
                                    <br>
                                    <label for="type_or_dept_Dropdown">Select Type / Department :</label>
                                    <select 
                                        name="type_or_dept"
                                        id="type_or_dept_Dropdown"
                                        required
                                        style="min-height: 50px; background-color: #1a75ff; color: white; border-radius: 5px;"
                                        class="form-select form-select-lg mb-3 ml-3 p-2">
                                        <!-- <option selected>Select Type / Department</option> -->
                                        <option value="CSE" style="background-color: white; color: #1a75ff;">CSE</option>
                                        <option value="EE" style="background-color: white; color: #1a75ff;">EE</option>
                                        <option value="ME" style="background-color: white; color: #1a75ff;">ME</option>
                                    </select>
    
                                    
                                    <div>
                                        <label for="eid" class="form-label"> New Assigne for the post :</label>
                                        <input type="text" required class="form-control m-2" name="eid" id="eid" placeholder="Enter Employee ID" style="display: inline; width: auto;">
                                    </div>
                                    
                        
                                    <label for="startDate" class="my-4"> Start Date : </label>
                                    <input name="startDate" required id="startDate" type="date" style="border: 2px solid; border-radius: 4px;">
                        
                                    <label for="endDate" class="mx-2"> End Date : </label>
                                    <input name="endDate" required id="endDate" type="date" style="border: 2px solid; border-radius: 4px;">
                                    
                                    <button type="submit" required class="btn btn-primary my-2 d-block" style="background-color: #1a75ff;">Add / Change</button>
                                </div>
                        
    
                            </form>    
                        </div>

                        

                    </div>
                </div>
            </div>
            

        </div>
    </div>

</body>

</html>