<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/header.css">

    <!-- importing bootstrap and other things which are used everywhere: -->
    <%- include('../partials/head'); %>

        <title>Employee</title>
</head>

<header>
    <%- include('../partials/header'); %>
</header>

<body class="">
    <div class="container-fluid MyContent">

        <div class="row" style="height: 10px;"></div>

        <div class="col">
            <h3>todo: change this <br><br> employee details</h3>
            <!-- <br><br><br><br> -->
            <% let str = "EID :" + employee.EID + "\n" + "name :" + employee.name + "\n" + "deptName :" + employee.deptName + "\n" + "leavesRemaining :" + employee.leavesRemaining + "\n" + "penaltyLeaves :" + employee.penaltyLeaves + "\n"; %>
            <div>
                <pre> <%= str %> </pre>
            </div>
            
        </div>

    </div>


</body>

</html>