<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/header.css">

    <!-- importing bootstrap and other things which are used everywhere: -->
    <%- include('../partials/head'); %>

        <title>Employee</title>
</head>

<header>
    <%- include('../partials/header'); %>
</header>

<body>
    
    <div class="MyContent">
        <div class="container-fluid">

            <div class="row">

                <button type="button" class="btn btn-primary mx-2 my-3">
                    General</button>
                <button type="button" class="btn btn-outline-primary mx-2 my-3">
                    Security</button>
                    <button type="button" class="btn btn-outline-primary mx-2 my-3">
                    History</button>
                <br><br>
            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="col card shadow" style="padding:1.5%; padding-top: 8px;">
                    <h3> Employee Name</h3>
                    <div> Director(untill 10 April )</div>
                    <br>
                    <br>
                    <div>Employee ID : 3</div>
                    <div>Department Name : EE</div>
                    <div>Leaves Remaoning : 10</div>
                    <div>Penalty Leaves : 0</div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>