<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/header.css">

    <!-- importing bootstrap and other things which are used everywhere: -->
    <%- include('../partials/head'); %>

        <title>Employee</title>
</head>

<header>
    <%- include('../partials/header'); %>
</header>

<body>
    <div class="container MyContent">

        <h1 class="m-3">All faculties:</h1>

        <% allProfilePreviews.forEach((aProfilePreview)=>{ %>
            <%- include('../partials/aProfilePreviewListItem', {aProfilePreview: aProfilePreview}) %>
        <% }) %>

    </div>
    

</body>

</html>